.chat-wrapper {
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    padding: 0; /* Убираем паддинг */
    cursor: pointer; /* Можно убрать, если не хотите, чтобы курсор менялся */
    width: 100%; /* Занимает всю ширину родителя */
  }