<div class="container">
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="card-title text-center">Регистрация</h2>
        <form #registrationForm="ngForm" (ngSubmit)="handleRegister(registrationForm)">
          <div class="mb-3">
            <input
              type="text"
              placeholder="Имя пользователя"
              name="username"
              required
              class="form-control"
              [(ngModel)]="username"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              placeholder="Пароль"
              name="password"
              required
              class="form-control"
              [(ngModel)]="password"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              placeholder="Подтвердите пароль"
              name="confirmPassword"
              required
              class="form-control"
              [(ngModel)]="confirmPassword"
            />
          </div>
          <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary" (click)="handleLogin()">Войти</button>
            <button type="submit" class="btn btn-success" [disabled]="requestSended">Регистрация</button>
          </div>
        </form>
      </div>
    </div>
  </div>